
@{
    ViewBag.Title = "BitCube - Lecturer";
}

@*Modal for Adding a student. Note: Data is not saved either on DB or in memory*@
@Html.Partial("_AddStudent")

@*A Table for students*@
<div class="card shadow mb-3">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">Students</p>
    </div>
    <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Surname</th>
                        <th>Date Of Birth</th>
                        <th>Enrolled Degree</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in ViewBag.Students)
                    {
                        <tr>
                            <td>@student.FullName</td>
                            <td>@student.Surname</td>
                            <td>@student.DateOfBirth.ToString()</td>
                            <td>@student.EnrolledDegree.Name</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*A Table for Degrees*@
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">Degree Info</p>
    </div>
    <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Lecture</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var degree in ViewBag.Degrees)
                    {
                        <tr>
                            <td>@degree.Name</td>
                            <td>@degree.Duration Years</td>
                            <td>@degree.Lecturer.FullName</td>
                            <td><button class="btn btn-outline-info" onclick="openCourseDialog(@degree.Id)">View Courses</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*Modal for Viewing All Courses under specific Degree*@
<div class="modal fade" id="detailsModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Degree Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="detailsModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
@*Code to Open Degree Details*@
    var openCourseDialog = function (degreeId) {

        $.ajax({
            type: "GET",
            url: "/Home/GetCoursesByDegreeId",
            data: { degreeId: degreeId },
            success: function (response) {

                $("#detailsModalBody").html(response);

                $("#detailsModal").modal('show');

            }
        });

    }

</script>

<script src="~/Scripts/jquery.validate.js" rel="stylesheet"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js" rel="stylesheet"></script>